<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./style.css">
	<title>{{title}}</title>
</head>
<body>
	<h1>{{title}}</h1>
	
	{% for report in reports %}
		{% if report.audit %}
			<h2>{{ report.audit }}</h2>
			{% include 'audits/' ~ report.audit ~ '.twig' with { data: report.data } %}
		{% else %}
			{% include 'audits/default.twig' with { data: report.data } %}
		{% endif %}
	{% endfor %}
	
	{# Uncomment this to see the reports object - useful for debugging. #}
	{# <pre>
		<code>{{dump(reports)}}</code>
	</pre> #}
</body>
</html>