<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./style.css">
	<title>{{title}}</title>
</head>
<body>
	<h1>{{title}}</h1>
	
	{% for report in reports %}
		{# 
			Note: 
			There's a lot of redundnacy in these audit partials at the moment, but it might 
			be useful to have very different markup for the design of various audit categories, 
			so there is support for that. #}
		{% if report.audit %}
			<hr>
			{% include 'audits/' ~ report.audit ~ '.twig' with { data: report.data, title: report.audit } %}
			<hr>
		{% else %}
			{% include 'audits/default.twig' with { data: report.data } %}
		{% endif %}
	{% endfor %}
	
	{# Uncomment this to see the reports object - useful for debugging. #}
	{# <pre>
		<code>{{dump(reports)}}</code>
	</pre> #}
</body>
</html>