{% if data|length > 1 %}
   <nav class="nav">
      <ul>
         {% for item in data %}
            <li>
               <a href="#{{item}}">
                  <strong>{{item|capitalize}}</strong> audit
               </a>
            </li>
         {% endfor %}
      </ul>
   </nav>
{% endif %}