<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./style.css">
	<title>{{title}}</title>
</head>
<body>
	<h1 id="top">{{title}}</h1>
	{% include 'nav.twig' %}

	{% for report in reports %}
		{% if report.template %}
			{% include 'audits/' ~ report.template ~ '.twig' with { data: report } %}
		{% else %}
			{% include 'audits/default.twig' with { data: report } %}
		{% endif %}
	{% endfor %}

</body>
</html>
