<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./style.css">
	<title>{{title}}</title>
</head>
<body>
   <h1 id="top">{{title}}</h1>
   <hr />
   {% include 'nav.twig' with { data: idsForNav } %}
	{% include 'audits/colors.twig' with { data: colorsData } %}
	{% include 'audits/display-none.twig' with { data: displayNoneData } %}
	{% include 'audits/important.twig' with { data: importantData } %}
	{% include 'audits/selectors.twig' with { data: selectorsData } %}

</body>
</html>