<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./style.css">
	<title>{{title}}</title>
</head>
<body>
	<header class="site__header">
		<h1 id="top">{{title}}</h1>
		{% include 'nav.twig' %}
	</header>

	{% for report in reports %}
		{% if report.template %}
			{% include 'audits/' ~ report.template ~ '.twig' with { data: report } %}
		{% else %}
			{% include 'audits/default.twig' with { data: report } %}
		{% endif %}
	{% endfor %}

	{# Uncomment this to see the reports object - useful for debugging. #}
	{#
	<pre>
		<code>{{dump(reports)}}</code>
	</pre>
	#}

	<script>
		const cssAudit = {};

		document.addEventListener( 'DOMContentLoaded', () => {
			const button = document.querySelector( '.button__theme-toggle' );

			cssAudit.toggleDarkMode = function() {
				const isDarkMode = document.body.classList.contains( 'is-dark-mode' );
				if ( isDarkMode ) {
					button.setAttribute( 'aria-pressed', 'false' );
					document.body.classList.remove( 'is-dark-mode' );
				} else {
					button.setAttribute( 'aria-pressed', 'true' );
					document.body.classList.add( 'is-dark-mode' );
				}
			}

			// Set is-dark-mode class if user has requested dark mode.
			if ( window.matchMedia( '(prefers-color-scheme: dark)' ).matches ){
				document.body.classList.add( 'is-dark-mode' );
				button.setAttribute( 'aria-pressed', 'true' );
			}
		} );
	</script>
</body>
</html>
